services:
  - type: web
    name: buybox-tracker-api
    env: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: MY_SELLER_NAME
        value: Bonolo Online
      - key: PYTHON_VERSION
        value: 3.11.0
